/* Variables */
:root {
    --section-padding: 10rem 0;
    --navbar-padding: 1rem 0;
    --footer-padding: 2rem 0;
    --font-primary: 'Poppins', sans-serif;
}

/* Body styles */
body {
    font-family: var(--font-primary);
}

/* Navbar styles */
.navbar {
    padding: var(--navbar-padding);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* Section styles */
#home,
#about,
#projects,
#contact {
    text-align: center;
    padding: var(--section-padding);
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    padding: var(--footer-padding);
    text-align: center;
}

/* Heading styles */
h1 {
    font-size: 80px;
}
